<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        $(function () {
            $.ajax({
                url: "/wallet",
                type: "POST",
                success: function (response) {
                    $("#public_key").val(response["public_key"]);
                    $("#private_key").val(response["private_key"]);
                    $("#address").val(response["address"]);
                    console.info(response)
                },
                error: function (err) {
                    console.error(err)
                }
            })
            $('#send_money_button').click(function () {

                var txnData = {
                    sender_private_key: $('#private_key').val(),
                    sender_public_key: $('#public_key').val(),
                    sender_blockchain_address: $('#address').val(),
                    recipient_blockchain_address: $('#recipient_blockchain_address').val(),
                    value: parseFloat($('#send_amount').val())
                };

                $.ajax({
                    url: "/transaction",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(txnData),
                    complete: function (jqXHR) {
                        // console.log('Complete:', jqXHR);
                        if (jqXHR.status !== 200) {
                            window.alert("FAIL")
                        } else {
                            window.alert("SUCCESS")
                        }
                    }
                });
            });

            function reload_amount() {
                let data = { "blockchain_address": $('#address').val() }
                $.ajax({
                    url: "/wallet/amount",
                    type: "GET",
                    data: data,
                    complete: function (jqXHR) {
                        console.log('Complete:', jqXHR);
                        if (jqXHR.status !== 200) {
                            window.alert("FAIL")
                        } else {
                            window.alert("SUCCESS")
                            let amount = jqXHR.responseJSON['amount']
                            console.log("Amount: ", amount)
                            $('#wallet_amount').text(amount)
                        }
                    }
                })
            }

            $('#reload_wallet').click(function () {
                reload_amount()
            })

            // setInterval(reload_amount, 3000)
        })


    </script>
    <title>Wallet</title>
</head>

<body>

    <div>
        <h1>Wallet</h1>
        <div id="wallet_amount">0</div>
        <button id="reload_wallet">Reload Wallet</button>

        <p>Public Key</p>
        <textarea name="" id="public_key" rows="2" cols="100"></textarea>

        <p>Private Key</p>
        <textarea name="" id="private_key" rows="1" cols="100"></textarea>

        <p>Blockchain Address</p>
        <textarea name="" id="address" rows="1" cols="100"></textarea>
    </div>

    <div>
        <h1>Send Money</h1>
        <div>
            Address: <input id="recipient_blockchain_address" size="100" type="text">
            <br>
            Amount: <input id="send_amount" type="text">
            <br>
            <button id="send_money_button">Send</button>
        </div>
    </div>

</body>

</html>